@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: #0a0a0a;
  color: #f3f4f6 ; 
  overflow-x: hidden;
}

@layer utilities{
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar{
    animation: loading 0.8s ease infinite;
  }
  /* fadeInLeft.css */
.fade-in-right {
  opacity: 0;
  transform: translateX(200px); /* start 30px to the left */
  transition: opacity 0.7s ease-out, transform 0.7s ease-out; /* animate in 0.6s */
} 

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0); /* move to original place */
}
.fade-in-up {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: translateY(0);
}




}